*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

#root {
  background-color: #a8dadc;
  display: flex;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
